#
# Copyright (c) OrientDB LTD (http://http://orientdb.com/)
#

[Unit]
Description=OrientDB Server
After=network.target
After=syslog.target
Wants=network.target

[Install]
WantedBy=multi-user.target

[Service]
User=orientdb
Environment=ORIENTDB_ROOT_PASSWORD={{ orientdb_users[0].password }}
ExecStart={{ orientdb_path }}/bin/server.sh
Restart=on-failure
RestartSec=20
